@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

:root {
  --doc-font-size: 16px;
  --standard-padding-size: 30px;
  --bg-color: black;
  --text-color: rgb(252, 252, 111);

  --interval: 1.5;
  --scale0: var(--doc-font-size);
  --scale1: calc(var(--scale0) * var(--interval));
  --scale2: calc(var(--scale1) * var(--interval));
  --scale3: calc(var(--scale2) * var(--interval));
}

html {
  box-sizing: border-box;
  font-size: var(--doc-font-size);
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 300px;
  max-width: 1500px;
  height: 100%;
  padding: 0;
  margin: auto;
}

.page-wrapper {
  min-height: 100%;
  min-width: fit-content;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Quattrocento Sans', sans-serif;
}

.text-section {
  padding: calc(var(--standard-padding-size) / 2);
  
  h2 {
    font-size: var(--scale1);
  }
}

@media screen and (min-width: 768px) {
  .page-wrapper {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "head main"
    "head main"
    "head main";
  }

  main {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
    grid-template-areas: 
    "text"
    "form"
    "sub";
    grid-area: main;
    
    & > * {
      padding-left: var(--standard-padding-size);
    }
  }

  .text-section {
    grid-area: text;
    padding: var(--standard-padding-size);
  }
}
