@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  background-image: url("../../res/desert.jpg");
  object-fit: contain;
  background-size: cover;
  font-family: 'Antic Slab', serif;
  letter-spacing: 3px;
  height: 50vh;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(28, 38, 61, 0.5);

  h1 {
    text-transform: uppercase;
    font-size: var(--scale3);
    padding-left: 15px;
  }
}

.logo img {
  height: 100px;
}

.image-author {
  padding: 0 calc(var(--standard-padding-size) / 2);
  text-align: center;
  color: white;

  a {
    color: white;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 100%;
  
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
    grid-template-areas: 
    "media "
    "."
    "author";
    grid-area: head;
    align-items: end;
  }

  .media {
    grid-area: media;
    padding: 0 var(--standard-padding-size);
  }

  .image-author {
    grid-area: author;
  }
}
