@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

:root {
  --doc-font-size: 16px;
  --standard-padding-size: 30px;
  --bg-color: black;
  --text-color: rgb(252, 252, 111);

  --interval: 1.5;
  --scale0: var(--doc-font-size);
  --scale1: calc(var(--scale0) * var(--interval));
  --scale2: calc(var(--scale1) * var(--interval));
  --scale3: calc(var(--scale2) * var(--interval));
}

html {
  box-sizing: border-box;
  font-size: var(--doc-font-size);
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 300px;
  max-width: 1500px;
  height: 100%;
  padding: 0;
  margin: auto;
}

.page-wrapper {
  min-height: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Quattrocento Sans", sans-serif;
}

.text-section {
  padding: calc(var(--standard-padding-size) / 2);
}

.text-section h2 {
  font-size: var(--scale1);
}

.error input[type=password] {
  border: 2px solid red;
}

.error:not(:last-child)::after {
  content: "* Passwords do not match";
  color: red;
}

@media screen and (min-width: 768px) {
  .page-wrapper {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "head main" "head main" "head main";
  }

  main {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
    grid-template-areas: "text" "form" "sub";
    grid-area: main;
  }

  main > * {
    padding-left: var(--standard-padding-size);
  }

  .text-section {
    grid-area: text;
    padding: var(--standard-padding-size);
  }
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-image: url("../../res/desert.jpg");
  -o-object-fit: contain;
     object-fit: contain;
  background-size: cover;
  font-family: "Antic Slab", serif;
  letter-spacing: 3px;
  height: 50vh;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(28, 38, 61, 0.5);
}

.media h1 {
  text-transform: uppercase;
  font-size: var(--scale3);
  padding-left: 15px;
}

.logo img {
  height: 100px;
}

.image-author {
  padding: 0 calc(var(--standard-padding-size) / 2);
  text-align: center;
  color: white;
}
.image-author a {
  color: white;
}

@media screen and (min-width: 768px) {
  header {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
    grid-template-areas: "media " "." "author";
    grid-area: head;
    align-items: end;
  }

  .media {
    grid-area: media;
    padding: 0 var(--standard-padding-size);
  }

  .image-author {
    grid-area: author;
  }
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  padding-bottom: var(--standard-padding-size);
  box-shadow: 5px 0px 5px 2px var(--text-color);
}

form input {
  width: 250px;
  height: 25px;
  border-radius: 5px;
}

form input:focus {
  outline-color: var(--text-color);
}

label {
  text-transform: uppercase;
}

.input-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 65px;
}

.submit-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: var(--standard-padding-size) 0 calc(var(--standard-padding-size) * 2) 0;
}

.submit-section input[type=submit] {
  background-color: var(--text-color);
  color: black;
  font-size: var(--scale1);
  padding: 15px 50px;
  border-radius: 10px;
}

.submit-section input[type=submit]:hover {
  border: 2px solid var(--text-color);
  box-shadow: 0px 0px 3px 3px white;
  cursor: pointer;
}

.submit-section a {
  color: white;
}

@media screen and (min-width: 768px) {
  form {
    display: grid;
    grid-template-rows: repeat(4, 50px);
    grid-template-columns: 250px 250px;
    grid-template-areas: "fh fh" "fn ln" "em pn" "ps psc";
    gap: 10px 50px;
    align-content: center;
    justify-content: start;
    grid-area: form;
    padding-right: var(--standard-padding-size);
  }

  .submit-section {
    display: block;
    grid-area: sub;
    padding: var(--standard-padding-size) var(--standard-padding-size) calc(var(--standard-padding-size) * 2);
  }

  form h2 {
    grid-area: fh;
  }

  input[type=text] {
    grid-area: fn;
  }

  input[type=text]:last-child {
    grid-area: ln;
  }

  input[type=email] {
    grid-area: em;
  }

  input[type=tel] {
    grid-area: pn;
  }

  input[type=password] {
    grid-area: ps;
  }

  input[type=password]:last-child {
    grid-area: psc;
  }
}

/*# sourceMappingURL=styles.css.map */
